body {
  background-color:#5fdde5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgreen;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
hr {
  border-color: black;
  border-style: none;
  border-top-style: dotted;
  width: 10%;
  border-width: 5px;
}
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
audio {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

